<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Item</title>
</head>
<body>
    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="code" placeholder="Search by Code">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Code</th>
                <th scope="col">Ipaddress</th>
                <th scope="col">File</th>
                <th scope="col">Text</th>
            </tr>
        </thead>
        <tbody>
            {% for codelist in codelists %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ codelist.code }}</td>
                <td>
                    {% if codelist.file %}
                        <a href="{% url 'download_file' codelist.id %}">Download</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if codelist.text %}
                        <a href="{% url 'read_text' codelist.id %}">Read</a> |
                        <a href="{% url 'download_text' codelist.id %}">Download</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
