<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'read' %}">Read</a></li>
        <li><a href="{% url 'create' %}">Create</a></li>
    </ul>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Adding Blogs</h2>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <label for="">Title</label>
        <input name="title" type="text" value="{{ blogs.title }}" required>
        <label for="">Subtitle</label>
        <input name="subtitle" type="text" value="{{ blogs.subtitle }}" required>
        <label for="">Description</label>
        <input name="description" type="text" value="{{ blogs.description }}" required>
        <label for="">Receipe Image</label>
        <input name="image" type="file">
        <button type="submit">Update Blog</button>
    </form>
</body>
</html>